* {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
  -webkit-app-region: drag;
}

#head {
  width: 736px;
  height: 548px;
  background-image: url('./cat.png');
}

.eyes {
  left: 248px;
  top: 230px;
  position: absolute;
}

.eye {
  width: 99px;
  height: 99px;
  background: transparent;
  border-radius: 50%;
  float: left;
  margin-right: 86px;
  position: relative;
}

.eye:last-of-type {
  margin-right: 0;
}

.pupil {
  width: 13px;
  height: 33px;
  background-image: url('./pupil.png');
  display: block;
  position: absolute;
  left: 50px;
  top: 40px;
}
